<div>
  <h1><%= @game.player_1.name %> Vs <%= @game.player_2.name %>...the ultimate showdown</h1>
</div>
<div>
<strong> <%= @game.player_1.name %>'s Hit Points: </strong><%=@game.player_1.hit_points %>
<br>
<strong> <%= @game.player_2.name  %>'s Hit Points: </strong><%= @game.player_2.hit_points %>
<br>
<br>
Player 1 goes first, so <%= @game.player_1.name %> you're up!

</div>
<div>
<form action="/battle" method="get">
  <button type='submit', value='start game'> Start Game </button>
</form>
</div>
